.react-flow__selection {
    background: hsl(var(--selection));
    border: 0.5px solid hsl(var(--selection-border));
    border-radius: 10px;
}

.react-flow__pane.selection {
    cursor: default;
}

.react-flow__pane.dragging {
    cursor: grabbing;
}