.react-flow__controls {
    background: #262626;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    gap: 6px;
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 50px;
}

.react-flow__controls-button {
    border: none;
    background: transparent;
    color: #ccc;
    transition: background-color 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.125rem;
    border-radius: 50px
}

.react-flow__controls-button:hover {
    background: rgba(255, 193, 7, 0.1);
    color: #ffffff;
}