@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: 0 0% 99%;
    --foreground: 210 11% 7%;

    --muted: 240 2% 40%;
     --muted-foreground: 240 5% 45%;
    --muted-foreground-light: 160 14% 93% / 0.5;
    --muted-foreground-dark: 160 14% 93% / 0.6;

    --card: 220 17% 98% / 0.01;
    --card-foreground: 160 14% 93%;

    --popover: 210 11% 7%;
    --popover-foreground: 160 14% 93%;

    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;

    --primary-dark: 25 95% 45%;
    --primary-light: 25 95% 40%;

    --secondary: 160 14% 93%;
    --secondary-foreground: 165 14% 8%;

    --accent: 240 2% 50%;
    --accent-foreground: 240 2% 96%;

    --border: 240 100% 100% / 0.08;
    --border-light: 210 17% 6% / 0.1;
    --border-dark: 210 17% 6% / 0.15;

    --ring: 165 96% 71%;

    --input: 240 2% 16%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;

    --chart-1: 41 85% 64%;
    --chart-2: 185 55% 60%;
    --chart-3: 227 25% 40%;
    --chart-4: 84 75% 83%;
    --chart-5: 70 75% 77%;

    --sidebar: 0 0% 98%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 5%;
    --foreground: 0 0% 95%;

    --muted: 240 3.7% 50%;
    --muted-foreground: 240 5% 64.9%;
    --muted-foreground-light: 240 5% 64.9% / 0.5;
    --muted-foreground-dark: 240 5% 64.9% / 0.6;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 25 95% 49%;
    --primary-foreground: 0 0% 100%;
    --primary-dark: 25 95% 49%;
    --primary-light: 25 95% 10%;

    --secondary: 53 100% 52%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --border-light: 0 0% 70%;
    --border-dark: 0 0% 15%;

    --ring: 25 95% 49%;

    --input: 240 3.7% 15.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;

    --chart-1: 264 80% 49%;
    --chart-2: 162 60% 70%;
    --chart-3: 70 75% 77%;
    --chart-4: 304 70% 63%;
    --chart-5: 16 80% 65%;

    --sidebar: 240 5.9% 10%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

  }

  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar but keep functionality */
  html {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  }

  html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}