@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: 0 0% 98%;
    --foreground: 210 11% 7%;

    --muted: 240 2% 40%;
    --muted-foreground: 240 5% 45%;
    --muted-foreground-light: 160 14% 93% / 0.5;
    --muted-foreground-dark: 160 14% 93% / 0.6;

    --card: 220 17% 98% / 0.01;
    --card-foreground: 160 14% 93%;

    --popover: 210 11% 7%;
    --popover-foreground: 160 14% 93%;

    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;

    --primary-dark: 25 95% 45%;
    --primary-light: 25 95% 40%;

    --secondary: 160 14% 93%;
    --secondary-foreground: 165 14% 8%;

    --accent: 240 2% 50%;
    --accent-foreground: 240 2% 96%;

    --border: 240 100% 100% / 0.08;
    --border-light: 210 17% 6% / 0.1;
    --border-dark: 210 17% 6% / 0.15;

    --ring: 165 96% 71%;

    --input: 240 2% 16%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;

    --chart-1: 41 85% 64%;
    --chart-2: 185 55% 60%;
    --chart-3: 227 25% 40%;
    --chart-4: 84 75% 83%;
    --chart-5: 70 75% 77%;

    --sidebar: 0 0% 98%;
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 240 4.8% 94%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 210 17% 6% / 0.15;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-options-background: 0 0% 97%;

    --toolbar: 0 0% 97%;
    --toolbar-background: 0 0% 97%;
    --toolbar-foreground: 240 5.3% 26.1%;
    --toolbar-accent: 240 4.8% 94%;
    --toolbar-accent-foreground: 240 5.9% 10%;
    --toolbar-border: 210 17% 6% / 0.15;

    --control: 0 0% 97%;
    --control-background: 0 0% 97%;
    --control-foreground: 240 5.3% 26.1%;
    --control-accent: 240 4.8% 94%;
    --control-accent-foreground: 240 5.9% 10%;
    --control-border: 210 17% 6% / 0.15;


    --minimap-background: 0 0% 98%;
    --minimap-mask: 0 0% 96% / 0.6;
    --minimap-mask-stroke: 210 17% 6% / 0.15;
    --minimap-border: 210 17% 6% / 0.15;
    --minimap-nodes: 25 95% 53%;

    --selection: 45 100% 27% / 0.1;
    --selection-border: 45 100% 20%;

    --task-card-background: 0 0% 100%;
    --task-card-background-accent: 240 4.8% 94%;
    --task-card-foreground: 240 5.3% 26.1%;
    --task-card-border: 210 17% 6% / 0.15;
    --task-card-border-accent: 25 95% 53%/0.5;
    --task-card-icon-foreground: 240 5.3% 26.1%;
    --task-card-accent: 240 4.8% 94%;
    --task-card-accent-foreground: 240 5.3% 26.1%;

    --task-card-complete: 120 100% 25%;
    --task-card-not-started: 0 0% 50%;
    --task-card-on-going: 45 100% 50%;
    --task-card-stuck: 0 100% 50%;
    --task-card-abandoned: 240 5.3% 26.1% / 0.1;
  }

  .dark {
    --background: 240 10% 5%;
    --foreground: 0 0% 90%;

    --muted: 240 3.7% 50%;
    --muted-foreground: 240 5% 64.9%;
    --muted-foreground-light: 240 5% 64.9% / 0.5;
    --muted-foreground-dark: 240 5% 64.9% / 0.6;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 85%;
    --popover-foreground: 240 10% 5%;

    --primary: 25 95% 49%;
    --primary-foreground: 0 0% 100%;
    --primary-dark: 25 95% 49%;
    --primary-light: 25 95% 10%;

    --secondary: 53 100% 52%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 90%;

    --border: 0 0% 80%;
    --border-light: 0 0% 70%;
    --border-dark: 0 0% 15%;

    --ring: 25 95% 49%;

    --input: 240 3.7% 15.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;

    --chart-1: 264 80% 49%;
    --chart-2: 162 60% 70%;
    --chart-3: 70 75% 77%;
    --chart-4: 304 70% 63%;
    --chart-5: 16 80% 65%;

    --sidebar: 240 5.9% 10%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 90%;
    --sidebar-accent: 240 3.7% 16%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-options-background: 240 5.9% 10%;

    --toolbar: 240 5.9% 10%;
    --toolbar-background: 240 5.9% 10%;
    --toolbar-foreground: 240 4.8% 95.9%;
    --toolbar-accent: 240 3.7% 16%;
    --toolbar-accent-foreground: 240 4.8% 95.9%;
    --toolbar-border: 0 0% 15%;

    --control: 240 5.9% 10%;
    --control-background: 240 5.9% 10%;
    --control-foreground: 240 4.8% 95.9%;
    --control-accent: 240 3.7% 16%;
    --control-accent-foreground: 240 4.8% 95.9%;
    --control-border: 0 0% 15%;

    --minimap-background: 240 5.9% 10%;
    --minimap-mask: 240 0% 0% / 0.4;
    --minimap-mask-stroke: 0 0% 15%;
    --minimap-border: 0 0% 15%;
    --minimap-nodes: 25 95% 53%;

    --selection: 25 95% 53% / 0.05;
    --selection-border: 25 95% 15%;

    --task-card-background: 240 10% 3.9%;
    --task-card-background-accent: 240 3.7% 16%;
    --task-card-foreground: 240 4.8% 95.9%;
    --task-card-border: 0 0% 15%;
    --task-card-border-accent: 25 95% 53%/0.5;
    --task-card-icon-foreground: 240 4.8% 95.9%;
    --task-card-accent: 240 3.7% 16%;
    --task-card-accent-foreground: 240 4.8% 95.9%;

    --task-card-complete: 120 100% 25%;
    --task-card-not-started: 0 0% 50%;
    --task-card-on-going: 45 100% 50%;
    --task-card-stuck: 0 100% 50%;
    --task-card-abandoned: 240 4.8% 95.9% / 0.1;

    --task-card-handles-background: 240 4.8% 95.9% / 0.1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* Hide scrollbar for all elements */
  * {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }
}